
.app-header-expanded {
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  height: 60px; 
  z-index: 1000;
  background-color: white; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.app-header-collapsed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 1000;
  background-color: white; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.layout-wrapper .flex-grow-1.d-flex.flex-column {
  margin-top: 60px; 
  height: calc(100vh - 60px); 
  overflow-y: auto; 
}

